.quiz-container {
    background: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 40px;
    width: 960px;
    margin: 0 auto 264px;
    border: 2px solid #E5E5E5;
}

.main-buttons-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

h2,
h3,
p {
    font-weight: normal;
    color: rgb(75, 75, 75);
}

.header {
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.next-button {
    border: solid 1px #f1f1f1;
    background-color: rgb(58, 179, 68);
    margin: 5px;
}

.next-button:enabled:hover {
    background-color: rgb(78, 72, 126);
    border: solid 1px rgb(78, 72, 126);
    color: #f7f6f6;
}