.RightBanner-container {
  position: fixed;
  top: 5%;
  right: 1%;
  width: 200px;
  height: 90%;
 
  display: flex;
  justify-content: center;
  margin-right: 20px;
  
}

.right-banner-image {
  max-width: 100%;
  height: auto;
}
