ul {
    list-style: none;
    padding: 0;
}

li {
    border-radius: 5px;
    border: solid 1px #f1f1f1;
    margin: 5px;
    display: flex;
    justify-content: center;
    color: #000;
    cursor: pointer;
    background-color: rgb(254, 253, 255)
}
li:hover {
    background-color: rgb(78, 72, 126);
    border: solid 1px rgb(78, 72, 126);
    color: #f7f6f6;
}
li.selected-answer {
    background-color: rgb(78, 72, 126);
    border: solid 1px rgb(78, 72, 126);
    color: #f7f6f6;
}

.draggable-words {
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(208, 205, 234);
}