

ul {
    list-style: none;
    padding: 0;
}

li {
    border-radius: 5px;
    border: solid 1px #f1f1f1;
    margin: 5px;
    display: flex;
    justify-content: center;
    color: #000;
    cursor: pointer;
    background-color: rgb(254, 253, 255)
}
li:hover {
    background-color: rgb(78, 72, 126);
    border: solid 1px rgb(78, 72, 126);
    color: #f7f6f6;
}
li.selected-answer {
    background-color: rgb(78, 72, 126);
    border: solid 1px rgb(78, 72, 126);
    color: #f7f6f6;
}

.draggable-container {
    display: flex;
    justify-content: center;
    border-top: solid 1px rgb(214, 214, 214);
    border-bottom: solid 1px rgb(214, 214, 214);
    min-height: 70px;
}

.draggable-words {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: solid 1px #f1f1f1;
    background-color: rgb(254, 253, 255);
    border: solid 6px rgb(214, 214, 214);
    display: inline-block;
    
}

.draggable-words:hover {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: solid 1px #f1f1f1;
    background-color: rgb(78, 72, 126);
    border: solid 6px rgb(214, 214, 214);
    color: #f7f6f6;
    display: inline-block;
    
}


.question-text {
    white-space: pre-wrap
}

.task-container {
    margin-bottom: 50px;
}

.choices-container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    
}

.choice-button {
    border: solid 1px #f1f1f1;
    background-color: rgb(254, 253, 255);
    border: solid 6px rgb(214, 214, 214);
    margin: 5px;
}

.choice-button:enabled:hover {
    background-color: rgb(78, 72, 126);
    border: solid 6px rgb(214, 214, 214);
    color: #f7f6f6;
}

.choice-button:disabled {
    background-color: rgb(214, 214, 214);
    border: solid 6px rgb(214, 214, 214);
    color: rgb(214, 214, 214);
}

.choice-button:disabled:hover {
    background-color: rgb(214, 214, 214);
    border: solid 6px rgb(214, 214, 214);
    color: rgb(214, 214, 214);
}