.timer-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .time-text {
    font-size: 20px;
    margin-bottom: 10px;
    color:beige;
  }
  
  .progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50; 
    transition: width 1s linear; 
  }