#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


* {
  box-sizing: border-box;
}

body {
  background: #a8c0ff;
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
  
  overflow-y: hidden;
}
